<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Goltracker</h1>
        <div class="row center">
          <h5 class="header col s12 light">helps you track your goals with text message reminders</h5>
        </div>
        <div class="row center">
        <br><br>
          <a href="/login" id="download-button" class="btn-large waves-effect waves-light black lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
<!-- Image #1 -->
    <div class="parallax"><img class="home-image one" src="<%= asset_path('fitness.jpg') %>" alt="Unsplashed background img 1" style="background-size: cover, min-width: 100%;"></div>

  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="row center">
        <br>
        <br>
          <h5 class="header col s12 light">Just sign up with your phone number and login.</h5>
          <p>Once you're in you can add goals to track. Once you've entered your goals, you'll receive a confirmation text and reminder texts throughout the duraction of your goal. Soon you'll be able to track your performance</p>
        </div>
        

        

  
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Reach your goals with technology</h5>
        </div>
      </div>
    </div>
<!-- Image #2 -->
    <div class="parallax home-image two"><img src="<%= asset_path('travel.jpg') %>" alt="Unsplashed background img 2"></div>
  </div>
