/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // @import "materialize";

 /* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
// DEFAULT COLOR SCHEME
  // $primary-color: color(#DED424, "lighten-2") !default;
  // $primary-color-light: false !default;
  // $primary-color-dark: false !default;
  // @if not $primary-color-light {
  //   $primary-color-light: lighten($primary-color, 15%);
  // }
  // @if not $primary-color-dark {
  //   $primary-color-dark: darken($primary-color, 15%);
  // }
  // $secondary-color: color(#DED424, "lighten-1") !default;
  // $success-color: color("green", "base") !default;
  // $error-color: color("red", "base") !default;

  // $link-color: color("light-blue", "darken-1") !default;

  /*** More variables not shown here.. ***/


// FORM COLORS
  /* label color */
   .input-field label {
     color: #DED424;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #DED424;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #DED424;
     box-shadow: 0 1px 0 0 #DED424;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #DED424;
     box-shadow: 0 1px 0 0 #DED424;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #DED424;
     box-shadow: 0 1px 0 0 #DED424;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #DED424;
   }  

   input[type=text]:focus:not([readonly]){
     border-bottom: 1px solid #DED424;
     box-shadow: 0 1px 0 0 #DED424;
   }



// accent color: #DED424
@import url(https://fonts.googleapis.com/css?family=Russo+One);

 *{
  font-family: Futura;
 }

select{
  display: block;
}

a {
  color: #DED424;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

}

a.footer{
  font-size: 10px;
}



// .parallax img{
//   transform: translate3d(-50%, 100px, 0px);
// }



div.headline{
  p.headline-introduction{
    font-family: Bodoni;
    display: inline-block;
    font-style: italic;
    margin-top: 41px;
    margin-bottom: 25px;
    font-size: 14px;
  }
  p.headline-content{
    font-family: Helvetica Neue;
    font-weight: bolder;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
  }

}

img.logo{
  height: 37px;
  margin-left: -25px;
  margin-top: 11px;
}

img.menu{
  height: 30px;
  width: 23px;
  margin-top: 15px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  width: 1550px;
  margin-left: -330px;
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


.collection a.collection-item {
    transition: .25s;
    color: #000;
}





// MEDIA QUERIES
@media only screen and (max-width : 1136px) {
  .parallax-container{
    margin-left: -169px;
    width: 1126px;
    min-height: 340px;
    .section {
      position: absolute;
      top: 40%;
    }
  } 
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 992px) {
  .parallax-container{
    margin-left: -74px;
    width: 981px;
    min-height: 340px;
    .section {
      position: absolute;
      top: 40%;
    }
  } 
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 700px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container{
    margin-left: -52px;
    width: 689px;
    min-height: 305px;
    .section {
      position: absolute;
      top: 40%;
    }
  } 
}

@media only screen and (max-width : 460px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container{
    width: 447px;
    margin-left: -22px;
    min-height: 280px;
    .section {
      position: absolute;
      top: 40%;
    }
  } 
  h5.header.col.s12.light{
    font-size: 1.25em;
  }

}

@media only screen and (max-width : 320px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container{
    width: 309px;
    margin-left: -16px;
    min-height: 280px;
    .section {
      position: absolute;
      top: 40%;
    }
  } 
  h5.header.col.s12.light{
    font-size: 1em;
  }

}
